doctype 5
html
  head
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css")
    link(rel="stylesheet", href="/consumer.css")
    script(src="/jquery.js")
    script(src="/d3.js")
    script(src="/bootstrap.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/highcharts.js")
  style
    #history { display: none }
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.brand Device Consumer
          ul.nav.pull-right
            li
              a(href="#") Help
            li
              a(href="/reset")= user.displayName
