doctype 5
html
  head
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css")
    link(rel="stylesheet", href="/consumer.css")
    script(src="//code.jquery.com/jquery-1.9.1.min.js")
    script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js")
    script(src="//device-mothership.herokuapp.com/socket.io/socket.io.js")
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.brand Device Consumer
          ul.nav.pull-right
            li
              a(href="#") Help
            li
              a(href="/reset")= user.displayName
