include _header

script(src="/device.js")
  
.container
  #device(data-id=device)
    .row
      .current.span6
        h3
          = "Current"
            a.pull-right.btn.btn-small.btn-primary#broadcast Post to Facebook
        .row.clearfix
          .temperature
            .clearfix
              .temp
              .units &deg;C
          .battery
            h5 Battery Level
            .progress#battery
              .bar#battery-level(style="width:0%;")
        .row
          #control.form-inline
            input.input-mini#set-temperature-to(type="text", name="temp")
            &nbsp;&nbsp;
            input.btn.btn-primary#set-temperature(type="submit", value="Set")
      .history.span6
        h3 History
        #tempchart

ul#history
  .temp
    each item in history.temp
      li= item
  .battery
    each item in history.battery
      li= item
