body {
  padding-top: 60px;
  padding-bottom: 40px;
}

#device h3 {
  border-bottom: 1px #999 solid;
}

.current .temperature {
  float: left;
}

.current .temperature .temp {
  font-size: 8.0em;
  font-weight: bold;
  float: left;
  margin-top: 40px;
}

.current .temperature .units {
  float: left;
  font-size: 2.0em;
  margin-left: 6px;
  margin-top: 22px;
}

.current .battery {
  float: right;
  width: 300px;
  margin-top: -6px;
}

.current .battery h5 {
  text-align: right;
  font-size: 1.2em;
}
