body {
  padding-top: 60px;
  padding-bottom: 40px;
}

h1.example {
  margin-top: -10px;
}

#device h3 {
  border-bottom: 1px #999 solid;
}

.current .temperature {
  float: left;
  margin-top: 12px;
}

.current .temperature .temp {
  font-size: 8.0em;
  font-weight: bold;
  float: left;
  margin-top: 40px;
}

.current .temperature .units {
  float: left;
  font-size: 2.0em;
  margin-left: 6px;
  margin-top: 22px;
}

.current .battery {
  float: right;
  width: 150px;
  margin-top: 4px;
}

.current .battery h5 {
  text-align: right;
  font-size: 1.2em;
}

.current .row {
  margin-left: 0px;
}

#tempchart rect {
  background-color: #ccc;
}

ul#history {
  display: none;
}

#control {
  margin-top: 58px;
  margin-left: 10px;
}

#broadcast {
  margin-top: 9px;
  background: url(/facebook-share.png);
  float: right;
  background-size: contain;
  background-repeat: no-repeat;
  height: 27px;
  width: 99px;
  border: 0;
  cursor: pointer;
}

.post-data {
  display: inline-block;
}
